/*==========================GLOBAL===========================*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body{
    /* background-color: var(--peach__cream); */
     background-color: var(--peach__cream);
}

/*
.urbanist-<uniquifier> {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/



:root{
    font-family: "Urbanist", sans-serif;
    font-size:62.5%;
    --deep__aqua:#288783;
    --peach__cream:#FFEBD0;
    --techColor--StrongBlue:#611DF2;
    --techColor--MediumBlue:#6D49F2;
    --techColor--MediumPurple:#8777F2;
    --techColor--lowGreen:#40F296;
    --techColor--mediumGreen:#3DF27C;
    
}

.wrapper{
    width: min(144rem,100%);
    padding-inline: 2rem;
    margin: auto;
}

