/*==========================GLOBAL===========================*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}


/*
.urbanist-<uniquifier> {
  font-family: "Urbanist", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

:root{
    font-family: "Urbanist", sans-serif;
    font-size:62.5%;
    --deep__aqua:#288783;
    --peach__cream:#FFEBD0;
}

.wrapper{
    width: min(144rem,100%);
    padding-inline: 2rem;
    margin: auto;
}

